h1{
	font-size: 400%;
	text-align: center;
}

body{
	background-color: green;
	text-align: center;
	padding-top: 20px;
	margin: 0 auto;
	height: 800px;
	width: 1000px;
}

#backg{
	background-image: url('/assets/containership.jpg');
	background-size: 100%;
}

li{
	display: inline;
}

ul{
	/*list-style-type: none;*/
	font-size: x-large;
	margin: 0px;
	padding: 0px;
	word-spacing: 70px;
	display: inline;
	text-decoration: none;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
