h1{
	font-size: 300%;
	text-align: center;
	font-family: tahoma;
	margin-bottom: 1%;
}

.fnotice{
	margin: 0 auto;
	font-size: 200%;
	margin-bottom: 2%;

}

body{
	background-color: green;
	text-align: center;
	padding-top: 20px;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

#backg{
	background-image: url('/assets/containership.jpg');
	background-size: 100%;
	
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

li{
	display: inline;
}

ul{
	font-size: x-large;
	font-family: tahoma;
	margin: 0px;
	padding: 0px;
	word-spacing: 50px;
	display: inline;
	text-decoration: none;
}

/*This is where I styled single pages*/
/*Profile page*/
#profilebg{
	background-color: #90EE90;
}

#newboatdiv{
	margin: 0 auto;
	width: 40%;
	/*border: solid red 2px;*/
}

#footer{
	clear: both;
}



