h1{
	font-size: 300%;
	text-align: center;
}

body{
	background-color: green;
	text-align: center;
	border: solid 2px red;
	margin: 0 auto;
	height: 500px;
	width: 500px;
	font-size: 100%;
}

nav{
	padding-right: 50px;
}

ul{
	list-style-type: none;
	font-size: xx-large;
	text-align: center;
}

#supform{
	text-align: center;
	font-size: xx-large;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
